# Bonus: Temperature Analysis I

In [6]:
import pandas as pd
from datetime import datetime as dt

In [7]:
# "tobs" is "temperature observations"
measurements_df = pd.read_csv('./Resources/hawaii_measurements.csv')
measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [8]:
# Convert the date column format from string to datetime
measurements_df['date'] = pd.to_datetime(measurements_df['date'])
measurements_df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [9]:
# Set the date column as the DataFrame index
measurements_df = measurements_df.set_index(measurements_df['date'])
measurements_df.head()

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01  0.08    65
2010-01-02  USC00519397 2010-01-02  0.00    63
2010-01-03  USC00519397 2010-01-03  0.00    74
2010-01-04  USC00519397 2010-01-04  0.00    76
2010-01-06  USC00519397 2010-01-06   NaN    73

In [10]:
# Drop the date column
measurements_df = measurements_df.drop(columns='date')
measurements_df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [25]:
from scipy import stats as st

In [13]:
# Filter data for desired months
june_df = measurements_df[measurements_df.index.month == 6]
june_df.head()

                station  prcp  tobs
date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77

In [14]:
december_df = measurements_df[measurements_df.index.month == 12]
december_df.head()

                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64

In [21]:
# Identify the average temperature for June
june_avg_temp = june_df['tobs'].mean()
print(f'Average Temperature in June in Hawai`i is {june_avg_temp:.2f}°F.')

Average Temperature in June in Hawai`i is 74.94

In [20]:
# Identify the average temperature for December
dec_avg_temp = december_df['tobs'].mean()
print(f'Average Temperature in December in Hawai`i is {dec_avg_temp:.2f}°F.')

Average Temperature in December in Hawai`i is 71.04

In [26]:
# Create collections of temperature data
p_value = st.ttest_ind(june_df['tobs'], december_df['tobs'])

p_value

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

In [ ]:
# Run paired t-test

### Analysis