In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

## Reflect Tables into SQLALchemy ORM

In [12]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [13]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [14]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [15]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [16]:
# Save references to each table
measurement = Base.classes.measurement
station = Base.classes.station

In [ ]:
# Create our session (link) from Python to the DB
session = Session(engine)

inspector = inspect(engine)

In [17]:
# Use inspector to get the column names and types from measurement table
columns = inspector.get_columns('measurement')

for column in columns:
    print(column['name'], column['type'])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [18]:
# Use inspector to get the column names and types from station table
columns = inspector.get_columns('station')

for column in columns:
    print(column['name'], column['type'])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

## Bonus Challenge Assignment: Temperature Analysis II

In [20]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, maximum, and average temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(measurement.tobs), func.avg(measurement.tobs), func.max(measurement.tobs)).\
        filter(measurement.date >= start_date).filter(measurement.date <= end_date).all()

# For example
print(calc_temps('2012-02-28', '2012-03-05'))

[(62.0, 69.57142857142857, 74.0)]

In [34]:
# Convenience function to print out calc temps 
def print_temps(start_date, end_date):
    temps = calc_temps(start_date, end_date)
    TMIN = temps[0][0]
    TAVE = temps[0][1]
    TMAX = temps[0][2]
    print(f'Using historical data from {trip_start} to {trip_end}, low temp was {TMIN}°F, average temp was {TAVE:.2f}°F, high temp was {TMAX}°F.')

### Temperature Analysis II
You are looking to take a trip from August 1st to August 7th of this year, 
but are worried that the weather will be less than ideal..  Using historical data in the dataset find out what the temperature has been previously.

In [35]:
trip_start = '2014-08-01'
trip_end = '2014-08-07'

print_temps(trip_start, trip_end)
# trip_temps = calc_temps(trip_start, trip_end)
# trip_temps

Using historical data from 2014-08-01 to 2014-08-07, low temp was 71.0°F, average temp was 77.46°F, high temp was 83.0°F.

In [ ]:
# Use the function `calc_temps` to calculate the tmin, tavg, and tmax 
# for a year in the data set

year_start = '2014-01-01'
year_end = '2014-12-31'

year_temps = calc_temps(year_start, year_end)
year_TMIN = year_temps[0][0]
year_TAVE = year_temps[0][1]
year_TMAX = year_temps[0][2]

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for bar height (y value)
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

# Declare y error bar value
y_error = year_TMAX - year_TMIN

plt.figure(figsize = (3, 10)
plt.gca().xaxis.grid(False)
           
plt.bar(2.5, height = year_TAVE, width=3, ec='k', yerr= y_error, color='rebeccapurple', alpha=0.5)

### Daily Rainfall Average

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's 
# matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Use this function to calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()

# For example
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip
start_date = '2017-08-01'
end_date = '2017-08-07'

# Use the start and end date to create a range of dates


# Strip off the year and save a list of strings in the format %m-%d


# Use the `daily_normals` function to calculate the normals for each date string 
# and append the results to a list called `normals`.

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`

## Close Session